# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# Raw datasets
data/*.xlsx
data/*.csv

# Keep data description
!data/README.md